<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/Theme.ABaseHook"
    tools:targetApi="31">
    <activity
      android:name=".ui.MainActivity"
      android:exported="true"
      android:extractNativeLibs="true"
      android:theme="@style/Theme.ABaseHook"
      tools:ignore="RedundantLabel">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!--xposedmodule属性声明为true时声明是xposed模块，才能被lsposed及其衍生框架识别-->
    <meta-data
      android:name="xposedmodule"
      android:value="true" />
    <!--xposeddescription为模块描述-->
    <meta-data
      android:name="xposeddescription"
      android:value="初次编写Hook" />
    <!--xposedminversion为最低兼容的xposed框架api版本-->
    <meta-data
      android:name="xposedminversion"
      android:value="82" />
    <!--xposedscope为模块作用域列表，填写后方便用户勾选作用域-->
    <!--<meta-data-->
    <!--  android:name="xposedscope"-->
    <!--  android:resource="@array/xposed_scope" />-->
  </application>

</manifest>